[submodule "app/src/main/cpp/vendor/openvpn3"]
	path = app/src/main/cpp/vendor/openvpn3
	url = https://github.com/soscaster/openvpn3.git

[submodule "app/src/main/cpp/vendor/ics-openvpn"]
	path = app/src/main/cpp/vendor/ics-openvpn
	url = https://github.com/soscaster/ics-openvpn.git
